* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --calibri-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --outer-space: #2a6aaa;
}

html {
    font-size: 62.5%;
}

a {
    color:#ffffff;
    text-decoration: none;
  }

h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}

header {
    width:100%;
    margin:0;
    padding: 0;
} 

.header {
    display:inline-block;
    flex-flow: wrap;
    flex-direction: row;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    border-radius: 10px;
  
}

.header h1 {
    display: inline-block;
    padding-left: 20px;
    font-family: var(--calibri-font);
    font-size: 50px;
}

.header nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 35px;
    margin-right: 20px; 
    float: right;
    font-family: var(--calibri-font);
    font-size: 25px; 
}

.header nav ul {
    list-style-type: none;
    justify-self:right;
}

.header nav ul li {
    display: inline;
    margin-left: 25px;
    text-decoration: underline;
}

.header nav ul li a:hover {
    background-color: #555;
    color: white;
}

.my-picture {
    text-align: center;
}

main {
    display: block;
        width: 96%;
        margin: 2rem auto;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 0 100%;
}

.card {
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin: 3rem 0;
    border: 15px outset rgb(73, 136, 192);
    border-radius: 7px;
    offset: -2px;
    transition: all 0.3s ease-in-out;
}

.card img {
    width: 500px;
    height: 750px;
}

.card:hover {
  box-shadow: inset 0px 0px 15px var(--outer-space), 0 0 15px var(--outer-space);
}

.aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6f95ad;
}

.aside h2 {
    margin: 100% 15px 100% 15px;
    text-align: center;
}

.aside-about-me {
    border-top: solid;
    border-bottom: solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
}

.aside-work {
    border-bottom: solid;
    border-bottom-width: 5px;
}

.aside-resume {
    border-top: solid;
    border-bottom: solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
}

.aside-small {
    text-align: center;
    border-style: solid;
    border-width: 5px 0;
    padding: 15px 0;
    background-color: #6f95ad;
}

.aside-resume {
    margin-top: 100%;
    margin-bottom: 150%;
}

.aside-resume h2 {
    font-size: 40px;
}

#my-picture {
    margin-top: 20px; 
    border-style: outset;
    border-width: 10px;
    border-color:rgb(14, 85, 161);
}
    
.about-me {
    text-align: center;
    margin: 5em 10em 5em 35em;
    justify-content: space-around;
}


.about-me h2 {
    font-size: 40px;
}

.about-me p {
    font-size: 20px;
}

.my-work {
    float: inline-end;
} 

.my-work h2 {
    font-size: 40px;
    border-right: solid;
    border-right-width: 5px;
}

.my-work h3 {
    text-align: center;
    padding: 15px 0;
    border-style:inset;
    border-color: rgb(73, 136, 192);
    border-width: 10px;
}

.resume-section {
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
}

#resume-pic {
    width: 750px;
    height: 1000px;
    border: 7px;
    border-style: solid;
    border-radius: 5px;
}

footer {
    padding: 15px;
    background-color: #2a607c;
    border-radius: 10px;
    display: block;
}

footer h2 {
    display:flex;
    flex-wrap: wrap;
    float: left;
    /* display: inline-block; */
    padding-left: 20px;
    font-size: 35px;
    color: #ffffff;
    margin-top: .5em;
}

footer div {
    
    justify-content: flex-end;
    display: inline-block;
    padding-top: 25px;
    font-family: var(--calibri-font);
    font-size: 20px;
    margin-left: 3em;
    margin-bottom: 1em;
}

footer div ul {
    list-style-type: none;
    color:#ffffff;
 

}

footer div ul li {
    display: inline-block;
    margin-left: 25px;
}

@media screen and (max-width: 768px) {
    .header {
        margin-right: auto;
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    .header {
    width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .about-me {
        margin-right: 5em;
        margin-left: 5em;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .my-work {
        margin-right: auto;
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
   .resume-section {
        margin-right:auto;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    #resume-pic {
        height: 75%;
        width:75%;
    }
}

@media screen and (max-width: 768px) {
    .resume-section {
        margin-right: auto;
        height: 100%;
        width:100%;
    }
}

@media screen and (max-width: 768px) {
    #resume-pic {
        height: 85%;
        width:85%;
    }
}

@media screen and (max-width: 600px) {
    #resume-pic {
        height: 90%;
        width:90%;
    }
}

@media screen and (max-width: 450px) {
    #resume-pic {
        width: 95%;
        height: 95%;
    }
}

@media screen and (max-width: 768px) {
    #my-picture {
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    footer {
        margin-right: auto;
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .aside {
        display: none;
    }
}

@media  screen and (min-width: 992px) {
    .aside-small {
        display: none;
    }
}