/* Set the standard margin, padding, & box formatting to my page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Set a few variables to specific presets in order to reference throughout my style sheet */
:root {
    --calibri-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --outer-space: #2a6aaa;
    --white-color: #ffffff;
    --dark-blue: #2a607c;
}

/* 62.5% is equal to 10px in most browsers, so this makes it easier to calculate REM units. */
html {
    font-size: 62.5%;
}

  /* Set my heading text to certain sizes so I can use them in semantic order on my html sheet */
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}

/*Gave my header a width of 100%  */
header {
    width:100%;
}
 /* Gave header class flex properties to wrap when screen is resized & also styled content */
.header {
    display:inline-block;
    flex-flow: wrap;
    flex-direction: row;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark-blue);
    color: var(--white-color);
    border-radius: 10px;
  
}

/*  Styled h1 text */
.header h1 {
    display: inline-block;
    padding-left: 20px;
    font-family: var(--calibri-font);
    font-size: 50px;
}

/* Set nav text to the right, gave it flex properties & styled it*/
.header nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 35px;
    margin-right: 20px; 
    float: right;
    font-family: var(--calibri-font);
    font-size: 25px; 
}


.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline;
    margin-left: 25px;
    text-decoration: underline;
}

a {
    color:var(--white-color);
    text-decoration: none;
  }

/* Made links resposive to mouse hover */
.header nav ul li a:hover {
    background-color: #555;
    color: var(--white-color);
}

/* Gave the main section some margins */
main {
    display: block;
        width: 98%;
        margin: 2rem auto;
}

/* Set main sidebar to appear on the left of page & styled it */
.aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6f95ad;
}
 
/* Gave main sidebar text margins and aligned it to center */
.aside h2 {
    margin: 100% 15px 100% 15px;
    text-align: center;
}

/* Added top & bottom border to create visual dividers */
.aside-about-me {
    border-top: solid;
    border-bottom: solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
}

.aside-work {
    border-bottom: solid;
    border-bottom-width: 5px;
}

.aside-resume {
    border-top: solid;
    border-bottom: solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    margin-top: 100%;
    margin-bottom: 150%;
}

.aside-resume h2 {
    font-size: 40px;
}

/* Formatted Side bar when it appears stacked as page is resized */
.aside-small {
    text-align: center;
    border-style: solid;
    border-width: 5px 0;
    padding: 15px 0;
    background-color: #6f95ad;
}

/* Aligned picture within its parent element */
.my-picture {
    text-align: center;
}

/* Styled the border of my picture */
#my-picture {
    margin-top: 20px; 
    border-style: outset;
    border-width: 10px;
    border-color:rgb(14, 85, 161);
}
   
/* Aligned About me section */
.about-me {
    text-align: center;
    margin: 5em 10em 5em 35em;
    justify-content: space-around;
}

/* Set font sizes to text if not previously set */
.about-me p {
    font-size: 20px;
}

/* Gave this section flex properties so child elements within will be evenly sized, & spaced
and stack on top of each other when page is resized */
.my-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 0 100%;
}

/* Styled card elements */
.card {
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin: 3rem 0;
    border: 15px outset rgb(73, 136, 192);
    border-radius: 7px;
    offset: -2px;
    transition: all 0.3s ease-in-out;
}

/* Gave card images a set height & width */
.card img {
    width: 500px;
    height: 750px;
}

/* Made card elements resposive to mouse hover */
.card:hover {
  box-shadow: inset 0px 0px 15px var(--outer-space), 0 0 15px var(--outer-space);
} 

/* Styled my work section  */
.my-work h3 {
    text-align: center;
    padding: 15px 0;
    border-style:inset;
    border-color: rgb(73, 136, 192);
    border-width: 10px;
}

/* Aligned resume section & added margins */
.resume-section {
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
}

/* Gave resume pic a set size & added a border */
#resume-pic {
    width: 750px;
    height: 1000px;
    border: 7px;
    border-style: solid;
    border-radius: 5px;
}

/* Styled footer */
footer {
    padding: 15px;
    background-color: var(--dark-blue);
    border-radius: 10px;
    display: block;
}

/* Styled footer heading & added flex properties */
footer h2 {
    display:flex;
    flex-wrap: wrap;
    float: left;
    padding-left: 20px;
    font-size: 35px;
    color: #ffffff;
    margin-top: .5em;
}

/* Added margins, padding & aligned content within footer */
footer div {
    justify-content: flex-end;
    display: inline-block;
    padding-top: 25px;
    font-family: var(--calibri-font);
    font-size: 20px;
    margin-left: 3em;
    margin-bottom: 1em;
}

/* Styled contact info list */
footer div ul {
    list-style-type: none;
    color:#ffffff;
}

/* Styled list element to appear inline next to each other */
footer div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Added property to header when page resizes below 992px to resize header on page */
@media screen and (min-width: 992px) {
    .header {
    width: 100%;
    }
}

/* Added property to header when page resizes below 768px to resize it on page */
@media screen and (max-width: 768px) {
    .header {
        margin-right: auto;
        width: 100%;
    }
}

/* Added property to About me Section when page resizes below 992px to resize it header on page */
@media screen and (max-width: 992px) {
    .about-me {
        margin-right: 5em;
        margin-left: 5em;
        width: 90%;
    }
}

/* Added property to About me Section when page resizes below 992px to resize it on page */
@media screen and (max-width: 768px) {
    .about-me {
        margin-right: 5em;
        margin-left: 5em;
        width: 90%;
    }
}

/* Added property to About me Section when page resizes below 768px to resize it on page */
@media screen and (max-width: 768px) {
    .my-work {
        margin-right: auto;
        width: 100%;
    }
}

/* Added property to Resume Section when page resizes below 992px to resize it on page */
@media screen and (max-width: 992px) {
   .resume-section {
        margin-right:auto;
        height: 100%;
        width: 100%;
    }
}

/* Added property to Resume Section when page resizes below 768px to resize it on page */
@media screen and (max-width: 768px) {
    .resume-section {
        margin-right: auto;
        height: 100%;
        width:100%;
    }
}

/* Added property to Resume pic ID when page resizes below 992px to resize it on page */
@media screen and (max-width: 992px) {
    #resume-pic {
        height: 75%;
        width:75%;
    }
}

/* Added property to Resume pic ID when page resizes below 768px to resize it on page */
@media screen and (max-width: 768px) {
    #resume-pic {
        height: 85%;
        width:85%;
    }
}

/* Added property to Resume pic ID when page resizes below 600px to resize it on page */
@media screen and (max-width: 600px) {
    #resume-pic {
        height: 90%;
        width:90%;
    }
}

/* Added property to Resume pic ID when page resizes below 450px to resize it on page */
@media screen and (max-width: 450px) {
    #resume-pic {
        width: 95%;
        height: 95%;
    }
}

/* Added property to Sidebar when page resizes below 992px to dissapear from page */
@media screen and (max-width: 992px) {
    .aside {
        display: none;
    }
}

/* Added property to Stacked Sidebar when page resizes below 992px to appear on page */
@media  screen and (min-width: 992px) {
    .aside-small {
        display: none;
    }
}